/// Styles for the footers of CognitiveUI
.footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: auto;
}

// Elements in footer

.footer__sogeti-logo--login {
    max-width: 7.5rem;
}

.footer__logo {
    max-width: 5rem;
}

.footer__disclaimer {
    color: $dark-gray;
    margin-right: 0.4em;
    margin-bottom: 0.2em;
    font-size: 0.8rem;
    align-self: flex-end;
}