/// Styles for the headers of CognitiveUI
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px $dark-gray;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .header--login {
        min-height: calc(100vw * 0.26);
    }
}

// Elements in header

.header__ulearning-logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    max-width: 10rem;
}

@media only screen and (min-width: 901px) {
    .header__ulearning-logo--login {
        width: 50%;
    }
}

.header__logout-box {
    margin-right: 1.5rem;
    border-radius: calc(0.7 * #{$icon-font-size} + 1px);
    box-shadow: 0 1px 10px $light_gray;

    &:hover {
        box-shadow: 0px 1px 10px $dark_gray;
        background-color: $light_gray;
    }
}

// Specifity increased to override user-agent styles over button tag
button.header__logout-button {
    display: flex;
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: inherit;
    
    span {
        align-self: center;
        padding: 0 0.5rem;
        color: $primary;
        text-transform: capitalize;
        cursor: pointer;
    }

    i {
        background: $white;
        color: $tech-red;
        border: 1px solid $tech-red;
        border-radius: 100%;
        font-size: $icon-font-size;
        padding: calc(#{$icon-font-size} * 0.2);
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;

        i {
            background: $tech-red;
            color: $white;
        }
    }
    
    &:focus {
        outline: none;
    }

}