<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="footer">
		<div class="mb-2 ml-3">
			<a href="https://www.uab.cat" target="_blank" class="text-decoration-none">
				<img alt="UAB" th:src="@{/img/UAB_logo.png}" class="footer__logo" />
			</a>
			<a href="https://www.uab.cat/enginyeria" target="_blank" class="text-decoration-none">
				<img alt="Escola d'Enginyeria" th:src="@{/img/EE_logo.png}" class="footer__logo" />
			</a>
			<a href="http://www.deic.uab.cat/" target="_blank" class="text-decoration-none">
				<img alt="dEIC" th:src="@{/img/dEIC_logo.png}" class="footer__logo" />
			</a>
		</div>
		<p class="footer__disclaimer">
			<span sec:authorize="isAuthenticated()" th:if="${session.userRole != null}" 
				th:text="#{footer_logged_as}"></span> 
			<span sec:authorize="isAuthenticated()" th:if="${#strings.equals(session.userRole, 'ROLE_STUDENT')}"
				th:text="#{role_student} + ' | '"></span> 
			<span sec:authorize="isAuthenticated()" th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}"
				th:text="#{role_teacher} + ' | '"></span> 
			<span th:utext="#{disclaimer}"></span>
			<span th:utext="${#dates.year(#dates.createNow())}"></span>
		</p>
	</th:block>
</body>
</html>