<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="header">
		<a th:href="@{/}">
			<img th:alt="#{ulearning}" th:src="@{/img/ulearning_logo.png}" class="header__ulearning-logo" />
		</a>
		<div sec:authorize="isAuthenticated()" id="header-logout" class="header__logout-box">
			<form th:action="@{/logout}" method="POST">
				<button type="submit" class="header__logout-button">
					<span sec:authentication="name"></span>
					<i class="fas fa-sign-out-alt"></i>
				</button>
			</form>
		</div>
	</th:block>
</body>

</html>