<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="quiz-details">
        <!-- Quiz Title -->
        <div class="row">
            <div class="col-sm">
                <h4 class="quiz__info-text pt-2">
                    <strong th:text="*{title}"></strong>
                </h4>
            </div>
        </div>
        <!-- Quiz Information -->
        <div class="row">
            <!-- Quiz Subject -->
            <div class="col-sm-auto quiz-box__info-column">
                <p class="quiz__info-text" th:text="#{quiz_subject} + ': ' + *{subject.shortName}"></p>
            </div>
            <!-- Quiz Topic -->
            <div class="col-sm-auto quiz-box__info-column">
                <p class="quiz__info-text" th:text="#{quiz_topic} + ': ' + *{topic?:'--'}"></p>
            </div>
            <!-- Quiz Subtopic -->
            <div class="col-sm-auto quiz-box__info-column">
                <p class="quiz__info-text" th:text="#{quiz_subtopic} + ': ' + *{subtopic?:'--'}"></p>
            </div>
            <!-- Quiz Expiration Date -->
            <div class="col-xs px-3 d-flex">
                <i class="far fa-calendar-alt"></i>
                <p class="ml-2" th:text="*{#dates.format(expirationDate, 'dd/MM/yyyy HH:mm:ss')}"></p>
            </div>
            <!-- Quiz Score (Student) -->
            <div class="col-xs px-3 d-flex" sec:authorize="hasRole('ROLE_STUDENT')">
                <p>
                    <span th:text="#{quiz_score} + ': '"></span>
                    <span id="user-quiz-score" th:text="${userQuizzes[quiz.idQuiz] == null ? '--' : userQuizzes[quiz.idQuiz].score}"></span>
                    <span th:text="' / ' + *{totalScore}"></span>
                </p>
            </div>
            <!-- Quiz Last Modified (Teacher) -->
            <div class="col-xs px-3 d-flex" sec:authorize="hasRole('ROLE_TEACHER')">
                <i class="fas fa-history"></i>
                <p class="ml-2" th:text="*{#dates.format(lastModified, 'dd/MM/yyyy HH:mm:ss')}"></p>
            </div>
        </div>
	</th:block>
</body>
</html>