<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
	<!-- Content -->
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Security-Policy"
		content="default-src 'self'; font-src * 'self' data: https:; img-src * 'self' data: https:; style-src 'self' 'unsafe-inline'; 
				script-src 'self' 'unsafe-inline' 'unsafe-eval'">
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- Compatibility & Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/img/ulearning_icon.png}">
    <!-- 3rd party CSS Style Sheets -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/1.13.8/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.8.1/css/all.min.css}"/>
    <!-- App CSS Style Sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <!-- 3rd party JS Scripts -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/1.13.8/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js}"></script>
    <!-- App JS Scripts -->
    <script th:inline="javascript">const ctx = /*[[@{/}]]*/'';</script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/globals.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/commons.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{|/js/lang/${#locale}.js|}"></script>

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{ulearning}"></title>
</head>
<body>
	<header class="header">
    	<th:block th:replace="thymeleaf/fragments/header :: header"/>
    </header>
    <section class="body container-fluid my-3">
        <th:block layout:fragment="content"/>
    </section>
    <footer class="footer">
    	<th:block th:replace="thymeleaf/fragments/footer :: footer"/>
    </footer>
</body>
</html>