<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="question-fragment (index)" th:object="${quiz.questions[__${index}__]}">
		<div th:id="${'question-' + index}" class="row">
			<input type="hidden" th:field="*{idQuestion}">
			<div class="col-sm form-group">
				<div class="form-group d-flex justify-content-between">
					<h5 th:text="|#{quiz_question} ${index + 1}|"></h5>
					<button type="button"
						class="btn btn-danger d-flex align-items-center js-remove-question"
						th:data-question="*{idQuestion == 0} ? ${index} : *{idQuestion}">
						<span><i class="fas fa-trash"></i></span>
					</button>
				</div>
				<div class="row">
					<div class="col-sm-1 form-group">
						<!-- Difficulty -->
						<select class="selectpicker form-control js-quiz-question-difficulty"
							th:title="#{quiz_question_difficulty}" th:field="*{difficulty}"
							data-width="fit" th:data="*{difficulty}" required>
							<option value="1" th:text="#{quiz_question_difficulty_1}"></option>
							<option value="2" th:text="#{quiz_question_difficulty_2}"></option>
							<option value="3" th:text="#{quiz_question_difficulty_3}"></option>
						</select>
					</div>
					<div class="col-sm-8 form-group">
						<!-- Question -->
						<input type="text" th:field="*{question}"
							th:placeholder="#{quiz_question}" class="form-control"
							maxlength="200" required />
					</div>
					<div class="col-sm-3 form-group">
						<div class="input-group">
							<!-- Image -->
							<div class="input-group-prepend input-prepend-box">
								<span class="input-group-text">
									<i class="fas fa-upload"></i>
								</span>
							</div>
							<div class="custom-file">
								<input type="file" class="custom-file-input"
									th:field="*{image}"
									accept="image/png, image/jpeg, image/jpg"> <label
									class="custom-file-label"
									th:for="${'question-image-' + index}" 
									th:text="*{#strings.isEmpty(imagePath)} ? #{quiz_image} : *{imagePath}"></label>
								<input type="hidden" th:field="*{imagePath}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm form-group">
						<!-- Feedback -->
						<input type="text" th:field="*{feedback}"
							th:placeholder="#{quiz_feedback}" class="form-control"
							maxlength="500" />
					</div>
					<div class="col-sm-3 form-group">
						<!-- Time To Answer -->
						<div class="input-group date js-timepicker" th:id="${'timepicker-' + index}"
							data-target-input="nearest">
							<div class="input-group-prepend" th:data-target="${'#timepicker-' + index}"
								data-toggle="datetimepicker">
								<span class="input-group-text">
									<i class="fas fa-stopwatch"></i>
								</span>
							</div>
							<input type="text" th:field="*{timeToAnswer}"
								th:placeholder="#{quiz_question_time_to_answer}" th:data-target="${'#timepicker-' + index}"
								class="form-control datetimepicker-input" readonly required />
						</div>
					</div>
				</div>
				<!-- Answers -->
				<h5 th:text="#{teacher_quiz_answers}"></h5>
				<div class="row">
					<div class="col-sm form-group">
						<th:block th:each="i : ${#numbers.sequence(0, 3)}">
							<div class="row">
								<div class="col-sm-9 form-group">
									<div class="input-group">
										<div class="input-group-prepend input-prepend-box input-prepend-box__checkbox">
											<div class="input-group-text">
												<!-- Correct/Incorrect -->
												<input type="checkbox" th:field="*{answers[__${i}__].correct}" class="input-checkbox">
											</div>
										</div>
										<!-- Answer -->
										<input type="text" th:field="*{answers[__${i}__].answer}" th:placeholder="|#{quiz_answer} ${i + 1}|"
											class="form-control form-check-label" maxlength="200" required />
									</div>
								</div>
								<div class="col-sm-3 form-group">
									<div class="input-group">
										<!-- Image -->
										<div class="input-group-prepend input-prepend-box js-image-input-prepend-box">
											<span class="input-group-text"> <i
												class="fas fa-upload"></i>
											</span>
										</div>
										<div class="custom-file">
											<input type="file"
												th:field="*{answers[__${i}__].image}"
												class="custom-file-input"
												accept="image/png, image/jpeg, image/jpg" /> <label
												class="custom-file-label" th:for="${'answer-image-' + i}"
												th:text="*{#strings.isEmpty(answers[__${i}__].imagePath)} ? #{quiz_image} : *{answers[__${i}__].imagePath}"></label>
											<input type="hidden" th:field="*{answers[__${i}__].imagePath}">
										</div>
									</div>
								</div>
							</div>
							<input th:if="${edit}" type="hidden" th:field="*{answers[__${i}__].idAnswer}" />
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>