<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">

<head>
	<title th:text="#{teacher_import_quiz_title}"></title>
	<!-- Bootstrap Date/Time picker -->
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css}">
	</link>
	<!-- JS Scripts -->
	<script type="text/javascript" charset="utf-8" th:src="@{/js/datetimepickers.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/teacher/teacher-import.js}"></script>
</head>

<body>
	<th:block layout:fragment="content">
		<h2 th:text="#{teacher_import_quiz_title}"></h2>
		<p>Importa un qüestionari des d'un fitxer XML de Moodle. Assegura't que el qüestionari contingui preguntes en el
			format de <span th:text="#{ulearning}"></span>, de resposta múltiple amb 4 opcions.</p>
		<br>
		<form id="import-form" name="quiz-import" th:data-csrf-param="${_csrf.parameterName}"
			th:data-csrf-token="${_csrf.token}">
			<div class="row">
				<div class="col-sm-1 form-group">
					<select id="quiz-subject" class="selectpicker form-control" data-width="fit"
						th:title="#{quiz_subject}" name="subject" required>
						<option th:each="subject, iter : ${subjects}" th:id="${'subject-' + iter.index}"
							th:value="${subject.code}" th:text="${subject.shortName}"></option>
					</select>
				</div>
				<div class="col-sm-6 form-group pl-5">
					<input type="text" name="topic" th:placeholder="#{quiz_topic}" class="form-control"
						maxlength="50" />
				</div>
				<div class="col-sm-5 form-group">
					<input type="text" name="subtopic" th:placeholder="#{quiz_subtopic}" class="form-control"
						maxlength="50" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm form-group">
					<input type="text" name="title" th:placeholder="#{quiz_title}" class="form-control" maxlength="100"
						required />
				</div>
				<div class="col-sm-3 form-group">
					<div class="input-group date" id="datetimepicker" data-target-input="nearest">
						<div class="input-group-prepend" data-target="#datetimepicker" data-toggle="datetimepicker">
							<span class="input-group-text">
								<i class="far fa-calendar-alt"></i>
							</span>
						</div>
						<input id="quiz-expiration-date" type="text" name="expirationDate"
							th:placeholder="#{quiz_expiration_date}" data-target="#datetimepicker"
							class="form-control datetimepicker-input" readonly required />
					</div>
				</div>
			</div>

			<input type="hidden" name="lastModified" th:value="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm:ss')}" />

			<div class="row">
				<div class="col-sm form-group">
					<div class="input-group">
						<div class="input-group-prepend input-prepend-box">
							<span class="input-group-text">
								<i class="fas fa-upload"></i>
							</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="imported-quiz" name="quiz"
								accept=".xml, text/xml, application/xml" required>
							<label class="custom-file-label" for="quiz"
								th:text="#{teacher_import_quiz_label}"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm form-group d-flex justify-content-between">
					<a th:href="@{/teacher}" class="btn btn-danger" th:text="#{teacher_cancel_quiz}"></a>
				</div>
				<div class="col-sm-3 form-group d-flex justify-content-end">
					<button type="submit" id="import-quiz-button" name="enabled" value="false"
						class="btn btn-primary mr-3" th:text="#{teacher_import_quiz}"></button>
					<button type="submit" id="import-publish-quiz-button" name="enabled" value="true"
						class="btn btn-success" th:text="#{teacher_import_and_publish_quiz}"></button>
				</div>
			</div>

			<div id="max-size-alert" th:data-show="${fileMaxSizeExceeded}" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_max_size}"></div>
			<div id="no-expiration-date-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_no_expiration_date}"></div>
			<div id="no-file-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_no_file}"></div>
			<div id="invalid-file-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_invalid_file}"></div>
			<div id="import-error-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_import_error}"></div>
		</form>
	</th:block>
</body>

</html>