<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">

<head>
	<title th:text="#{teacher_create_quiz_title}"></title>
	<!-- Bootstrap Date/Time picker -->
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css}">
	</link>
	<!-- JS Scripts -->
	<script type="text/javascript" charset="utf-8" th:src="@{/js/datetimepickers.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/teacher/teacher-quiz.js}"></script>
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"></script>
	<script type="text/javascript" charset="utf-8"
		th:src="@{/webjars/jquery-validation/1.17.0-1/additional-methods.min.js}"></script>
</head>

<body>
	<th:block layout:fragment="content">
		<h2 th:if="${edit}" th:text="#{teacher_edit_quiz_title}"></h2>
		<h2 th:unless="${edit}" th:text="#{teacher_create_quiz_title}"></h2>
		<br>
		<form name="quiz-form" th:object="${quiz}"
			th:action="@{/teacher/quiz/save} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="POST"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-1 form-group">
					<select id="quiz-subject" class="selectpicker form-control" data-width="fit"
						th:title="#{quiz_subject}" th:field="*{subject}" th:data="*{subject?.code}" required>
						<option th:each="subject, iter : ${subjects}" th:id="${'subject-' + iter.index}"
							th:value="${subject.code}" th:text="${subject.shortName}"></option>
					</select>
				</div>
				<div class="col-sm-6 form-group pl-5">
					<input type="text" th:field="*{topic}" th:placeholder="#{quiz_topic}" class="form-control"
						maxlength="50" />
				</div>
				<div class="col-sm-5 form-group">
					<input type="text" th:field="*{subtopic}" th:placeholder="#{quiz_subtopic}" class="form-control"
						maxlength="50" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm form-group">
					<input type="text" th:field="*{title}" th:placeholder="#{quiz_title}" class="form-control"
						maxlength="100" required />
				</div>
				<div class="col-sm-3 form-group">
					<div class="input-group date" id="datetimepicker" data-target-input="nearest">
						<div class="input-group-prepend" data-target="#datetimepicker" data-toggle="datetimepicker">
							<span class="input-group-text">
								<i class="far fa-calendar-alt"></i>
							</span>
						</div>
						<input id="quiz-expiration-date" type="text" th:field="*{expirationDate}"
							th:placeholder="#{quiz_expiration_date}" data-target="#datetimepicker"
							class="form-control datetimepicker-input" readonly required />
					</div>
				</div>
			</div>

			<input type="hidden" name="lastModified" th:value="${#dates.format(#dates.createNow(),'dd/MM/yyyy HH:mm:ss')}" />
			<input th:if="${edit}" type="hidden" th:field="*{idQuiz}" />

			<!-- Questions -->
			<h3 th:text="#{teacher_quiz_questions}"></h3>
			<div class="row">
				<div id="questions-fragment" class="col-sm form-group">
					<th:block th:each="question, iter : ${quiz.questions}">
						<th:block
							th:replace="teacher/questionForm.html :: question-fragment (index=${iter.index})"></th:block>
					</th:block>
				</div>
			</div>
			<div th:if="${edit}" class="row">
				<div class="col-sm form-group d-flex justify-content-end">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="revoke-completion" name="revoke-completion">
						<label class="form-check-label" for="revoke-completion" th:text="#{teacher_quiz_revoke_completion}"></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm form-group d-flex justify-content-between">
					<a th:href="@{/teacher}" class="btn btn-danger"
						th:text="#{teacher_cancel_quiz}"></a>
					<button type="button" id="add-question"
						class="btn btn-info d-flex align-items-center">
						<span th:text="#{teacher_quiz_add_question}"></span>
						<i class="fas fa-plus pl-2"></i>
					</button>
				</div>
				<div class="col-sm-3 form-group d-flex justify-content-end">
					<button type="submit" id="save-quiz-button" name="enabled"
						th:value="*{enabled}" class="btn btn-primary mr-3"
						th:text="#{teacher_save_quiz}"></button>
					<button type="submit" id="save-publish-quiz-button" name="enabled"
						value="true" class="btn btn-success"
						th:text="#{teacher_save_and_publish_quiz}"></button>
				</div>
			</div>

			<div id="max-size-alert" th:data-show="${fileMaxSizeExceeded}" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_max_size}"></div>
			<div id="no-expiration-date-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_no_expiration_date}"></div>
			<div id="no-questions-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_no_questions}"></div>
			<div id="no-answers-alert" class="alert alert-danger" role="alert"
				style="display: none" th:text="#{quiz_alert_no_answer}"></div>
			<div id="invalid-images-alert" class="alert alert-danger" role="alert" 
				style="display: none" th:text="#{quiz_alert_invalid_images}"></div>
		</form>
	</th:block>
</body>
</html>