<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">
<head>
	<title th:text="#{role_teacher}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<h2 th:text="#{teacher_statistics_title}"></h2>
	</th:block>
</body>
</html>