<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{role_teacher}"></title>
</head>

<body>
	<th:block th:fragment="teacher-quiz" th:object="${quiz}">
		<div th:id="'quiz-' + (${iter} ? ${iter.index} : *{idQuiz})"
			th:class="'row mb-2 quiz-box quiz-box' + (*{enabled} ? '--published' : '--non-published')">
			<!-- Quiz Details -->
			<a class="col-sm-11" th:href="@{/teacher/quiz?edit=} + *{idQuiz}">
				<th:block th:replace="thymeleaf/fragments/quizDetails :: quiz-details"></th:block>
			</a>
			<!-- Quiz Publication & Edition -->
			<div class="col-sm-1 d-flex align-items-center justify-content-center">
				<button class="quiz__action-button"
					th:onclick="|publishQuiz('*{idQuiz}', !*{enabled})|">
					<i th:class="|fas *{enabled ? 'fa-eye' : 'fa-eye-slash'}|"></i>
				</button>
				<button th:onclick="|deleteQuiz('*{idQuiz}')|"
					class="quiz__action-button"><i class="fas fa-trash"></i></button>
			</div>
		</div>
	</th:block>
</body>
</html>