/// Buttons styling
.button--primary {
	background-color: $primary;
	color: $white;
	&:hover {
		background-color: $blue;
		color: $white;
	}
}

.floating-button__container {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
}

.floating-button__btn {
	display: block;
	width: 4rem;
	height: 4rem;
	z-index: 1000;
	text-align: center;

	background-color: #0C9;
	color: white !important;

	border-radius: 100%;
	box-shadow: 2px 2px 3px #999;

	> i {
		margin-top: 1.4rem;
	}

	&:hover {
		text-decoration: none;
		box-shadow: 2px 2px 10px #999;
	}

	&#create-quiz-btn {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.floating-button__btns {
	position: absolute;
	right: 0;
	z-index: 100;
	visibility: hidden;
	animation-name: none;

	+ .floating-button__btn > i {
		// This applies transition effect to all changes to property transform
		// of icon '+' in the trigger button, both when opening and closing
		transition: transform 0.3s ease-in-out;
	}

	> li {
		list-style: none;
		margin-bottom: 0.5rem;
	}
}

.floating-button__btns--extended {
	animation: extend-btns 0.3s ease-in-out forwards;
	
	+ .floating-button__btn > i {
		transform: rotate(135deg);
	}
}

.floating-button__btns--compacted {
	animation: extend-btns 0.3s ease-in-out reverse forwards;
}

@keyframes extend-btns {
	from {
		bottom: 0;
		opacity: 0;
		visibility: hidden;
	}
	to {
		bottom: 3rem;
		opacity: 1;
		// We add visible here to reuse the animation in reverse direction.
		// It is needed when compacting to let the opacity fading be visible
		// before the visibility is changed to hidden
		visibility: visible;
	}
}

.quiz__action-button {
	@extend %transparent-button;
	
	i.fas {
		font-size: 2rem !important;
		color: initial;
		padding: 0 0.5rem;
		// Since eye icon change width depending on published or not:
		width: 3.5rem;
	}
}