/// Input fields styling
.input-prepend-box {
    cursor: pointer;

    &__checkbox {
        &--checked {
            background-color: $green;
        }  
    }
}

.input-file__error-msg {
    color: $tech-red;
}

.input-checkbox {
    transform: scale(1.5);
    margin-left: 0.1rem;

    // We delegate the HTML native "checking" action to JS 
    // via the input prepend box event
    pointer-events: none;
}