/// Quiz Styling

// Quix main page box
.quiz-box {
    border: 0.125rem solid;
    cursor: pointer;
    color: inherit;
    
    // Quiz box status for teachers
    &--published {
        @include colorBorderAndBackground($green, $bright-green);
    }

    &--non-published {
        @include colorBorderAndBackground($dark-gray, $gray-disabled);
        color: $dark-gray;

        &:hover {
            color: $dark-gray;
        }
    }

    // Quiz box status for students
    &--available {
        @include colorBorderAndBackground($blue, $lighter-blue);
    }

    &--completed {
        @include colorBorderAndBackground($green, $bright-green);
    }

    &--expired {
        @include colorBorderAndBackground($tech-red, $peach);
        opacity: 0.5;
        cursor: default;
    }

    &:hover {
        box-shadow: 0.25rem 0px 0.5rem 0px $dark-gray;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    & i.fa-medal {
        font-size: 2rem !important;
    }

}

// This rule applies for quiz boxes in main or quiz page, 
// where the quiz-box class is removed
[id^=quiz-] {
    i.far, i.fas {
        margin-top: 0.125rem;
    }
}

.quiz-box__info-column {
    max-width: 24rem;
}

.quiz__question-title {
    background-color: $lighter-blue;
}

.quiz__feedback {
    color: $black;
    @include colorBorderAndBackground($blue, $lighter-blue);

    .card-header {
        &.quiz__feedback--correct {
            background-color: $success !important;
        }

        &.quiz__feedback--incorrect {
            background-color: $danger !important;
        }
    }

    .card-body {
        background-color: $lighter-blue !important;
    }
}