/// SASS placeholders definition
%elide-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%transparent-button {
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: inherit;

    &:focus {
        outline: none;
    }
}