<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">
<head>
	<title th:text="#{quiz_page_title}"></title>
	<script type="text/javascript" charset="utf-8" th:src="@{/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/student/student-quiz.js}"></script>
</head>
<body>
	<th:block layout:fragment="content" th:object="${quiz}">
		<h2 th:text="#{quiz_page_title}"></h2>
		<br>
		<th:block th:replace="thymeleaf/fragments/quizDetails :: quiz-details"></th:block>
		<div id="quiz-content">
			<th:block th:replace="student/quizContentWrapper :: quiz-content-wrapper"></th:block>
		</div>
	</th:block>
</body>
</html>