<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="quiz-question" th:object="${question}">
		<script th:inline="javascript">
			var startDate = /*[[${startDate}]]*/''
		</script>
		<div class="col-xs px-3 d-flex justify-content-center">
			<i class="fas fa-stopwatch"></i>
			<p id="question-timer" class="ml-2" th:data-time-to-answer="*{timeToAnswer}"
				th:text="*{timeToAnswer.format(T(java.time.format.DateTimeFormatter).ofPattern('HH:mm:ss'))}"></p>
		</div>
		<form name="question-form"
			th:action="@{/student/process-quiz} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="POST">
			<input type="hidden" th:name="idQuestion" th:value="*{idQuestion}">
			<div id="question" class="row">
				<div class="col-sm form-group">
					<div class="card form-group">
						<div class="card-header quiz__question-title">
							<!-- Question -->
							<h6 class="text-justify"
								th:text="*{question} + ' (' + #{__*{'quiz_question_difficulty_' + difficulty}__} + ')'">
							</h6>
							<!-- Image -->
							<div th:if="*{image != null && !#strings.isEmpty(image)}" class="card w-25">
								<img class="card-img quiz__image"
									th:src="@{/student/quiz/loadImage?entity=} + 'question' + '&id=' + *{idQuestion}" />
							</div>
						</div>
						<!-- Answers -->
						<div class="row card-body">
							<div class="col-sm">
								<th:block th:each="answer, iter : *{answers}" th:object="${answer}">
									<!-- Answer -->
									<div class="custom-control custom-checkbox card-text form-group" th:with="isUserAnswer=${userQuestionAnswers != null ? 
											(userQuestionAnswers[question.idQuestion] != null ?
											#lists.contains(userQuestionAnswers[question.idQuestion], answer.idAnswer) : false) : false}">
										<input type="checkbox" class="custom-control-input"
											th:id="'answer-' + ${iter.index}" th:name="'answer-' + ${iter.index}"
											th:value="*{idAnswer}">
										<label class="custom-control-label text-justify" th:text="*{answer}"
											th:for="'answer-' + ${iter.index}"></label>
									</div>
									<!-- Image -->
									<div th:if="*{image != null && !#strings.isEmpty(image)}"
										class="card w-25 form-group">
										<img class="card-img quiz__image"
											th:src="@{/student/quiz/loadImage?entity=} + 'answer' + '&id=' + *{idAnswer}" />
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="modal fade" id="quiz-timeout-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" th:text="#{student_quiz_timeout}"></h4>
					</div>
					<div class="modal-body" th:text="#{student_quiz_timeout_info}"></div>
					<div class="modal-footer">
						<a th:href="@{/student}" class="btn btn-danger" th:text="#{student_quiz_exit}"></a>
						<button class="btn btn-success" th:text="#{student_quiz_next_question}"
							data-dismiss="modal"></button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>