<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="quiz-feedback">
		<div class="row">
			<div class="col-sm form-group">
				<div class="card quiz__feedback" th:data-total-score="${score}" th:data-quiz-completed="${completed}">
					<h6 th:class="'card-header quiz__feedback--' + ${result}">
						<span th:text="#{__${'student_quiz_question_' + result}__} + ' /'"></span>
						<span th:text="#{student_quiz_question_score} + ${questionScore}"></span>
					</h6>
					<div class="card-body">
						<p class="card-text text-justify" th:text="${feedback}?: #{student_quiz_feedback_placeholder}"></p>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${completed}" class="modal fade" id="quiz-completed-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" th:text="#{student_quiz_completed}"></h4>
					</div>
					<div class="modal-body" th:text="#{student_quiz_completed_info}"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" th:text="#{ok}" data-dismiss="modal"></button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>