<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="quiz-buttons(withAnswerButton)">
        <div class="row">
            <div class="col-sm form-group">
                <a th:href="@{/student}" class="btn btn-danger"
                    th:text="#{student_quiz_exit}"></a>
            </div>
            <div th:unless="${completed}" class="col-sm form-group d-flex justify-content-end">
                <button th:if="${withAnswerButton}" id="answer-question-button" class="btn btn-success"
                    th:text="#{student_quiz_answer}"></button>
                <button th:unless="${withAnswerButton}" id="next-question-button" class="btn btn-success"
                    th:text="#{student_quiz_next_question}"></button>
            </div>
        </div>
	</th:block>
</body>
</html>