<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{role_student}"></title>
</head>
<body>
	<th:block th:fragment="student-quiz(userQuiz)" th:object="${quiz}" 
		th:with="expiredQuiz=${quiz.expirationDate.before(#dates.createNowForTimeZone('UTC'))}">
		<div th:id="'quiz-' + (${iter} ? ${iter.index} : *{idQuiz})"
			th:class="'row mb-2 quiz-box quiz-box' + ${(userQuiz?.completed?: false) ? 
				'--completed' : (!expiredQuiz ? '--available' : '--expired')}">
			<!-- Quiz Details -->
        	<div class="col-sm" th:classappend="${!expiredQuiz} ? '-11'">
				<th:block th:replace="thymeleaf/fragments/quizDetails :: quiz-details"></th:block>
        	</div>
			<!-- Quiz Answering -->
			<div th:unless="${expiredQuiz}" class="col-sm-1 d-flex align-items-center justify-content-center">
				<i th:if="${userQuiz?.completed?:false}" class="fas fa-medal"></i>
				<a th:unless="${userQuiz?.completed?:false}" id="answer-quiz" th:href="@{/student/quiz?id=} + *{idQuiz}"
					class="quiz__action-button"> <i class="fas fa-tasks"></i>
				</a>
			</div>
		</div>
	</th:block>
</body>
</html>