<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">
<head>
	<title th:text="#{index_title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1 th:text="#{index_heading}"></h1>
		<h4 th:text="#{index_choice}"></h4>
		<p>
			<a th:href="@{/student}" th:text="#{role_student}"></a>
			<a th:href="@{/teacher}" th:text="#{role_teacher}"></a>
		</p>
	</div>
</body>
</html>