<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">

<head>
	<title th:text="#{login_title}"></title>
</head>

<body>
	<th:block layout:fragment="content">
		<h2 th:text="#{login_title}"></h2>
		<div class="row justify-content-center">
			<div class="col-sm-6">
				<form th:action="@{/login}" method="post">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text login-form__icon-box">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<input class="form-control" type="text" name="niu" th:placeholder="#{login_niu}" autofocus
							autocomplete="username">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text login-form__icon-box">
								<i class="fas fa-lock"></i>
							</span>
						</div>
						<input class="form-control" type="password" name="password" th:placeholder="#{login_password}"
							autocomplete="current-password">
					</div>
					<button id="login-button" type="submit" class="button--primary btn btn-block btn-lg mb-3"
						th:text="#{login_title}"></button>
				</form>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-6">
				<div th:if="${param.error}" th:text="#{login_credentials_error}" class="alert alert-danger alert-login"
					th:on></div>
				<div th:if="${param.logout}" th:text="#{login_logout_message}" class="alert alert-info alert-login">
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>