<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">
<head>
	<title th:text="${#authorization.expression('hasRole(''ROLE_STUDENT'')')} ? #{role_student} : #{role_teacher}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<h2 th:text="#{main_title}"></h2>
		<div class="row mx-1 flex-column-reverse flex-md-row">
			<!-- Statistics page link (Teacher) -->
			<div class="col-sm d-flex align-items-center">
				<div sec:authorize="hasRole('ROLE_TEACHER')"
					th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}">
					<a id="statistics-link" th:href="@{/teacher/statistics}"
						th:text="#{teacher_statistics_link}" class="align-self-center"
						style="display: none"></a>
				</div>
			</div>
			<div class="col-sm d-flex justify-content-end">
				<!-- Quiz List View Mode Switch (Teacher) -->
				<div sec:authorize="hasRole('ROLE_TEACHER')"
					th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}">
					<input id="switch-quiz-view-mode" class="mt-1" type="checkbox"
						checked>
				</div>
				<!-- Subject Filter -->
				<div class="dropdown ml-4">
					<select id="subject-filter" class="selectpicker" multiple
						data-max-options="1"
						th:title="#{quiz_subject}"
						data-width="fit">
						<option th:each="subject, iter : ${subjects}"
							th:id="${'subject-' + iter.index}" th:value="${subject.code}"
							th:text="${subject.shortName}"></option>
					</select>
				</div>
			</div>
		</div>

		<!-- Quizzes list -->
		<div class="row m-3" id="quizzes">
			<div class="col-sm" th:fragment="quizzes">
				<th:block th:each="quiz, iter : ${quizzes}">
					<th:block sec:authorize="hasRole('ROLE_TEACHER')"
						th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}"
						th:replace="teacher/teacherQuizBox :: teacher-quiz"></th:block>
					<th:block sec:authorize="hasRole('ROLE_STUDENT')"
						th:if="${#strings.equals(session.userRole, 'ROLE_STUDENT')}"
						th:replace="student/studentQuizBox :: student-quiz(userQuiz=${userQuizzes[quiz.idQuiz]})"></th:block>
				</th:block>
				<div th:if="${quizzes.empty}" th:text="#{main_no_quizzes}" class="alert alert-info"></div>
			</div>
		</div>

		<!-- Create Quiz Button -->
		<div sec:authorize="hasRole('ROLE_TEACHER')"
			th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}"
			class="floating-button__container">
			<ul class="floating-button__btns">
				<li>
					<a id="import-quiz-btn" th:href="@{/teacher/import-quiz}" 
						class="floating-button__btn" th:title="#{teacher_import_quiz_title}">
						<i id="import-quiz-btn-icon" class="fas fa-file-import"></i>
					</a>
				</li>
				<li>
					<a id="new-quiz-btn" th:href="@{/teacher/quiz}" 
						class="floating-button__btn" th:title="#{teacher_new_quiz_label}">
						<i id="new-quiz-btn-icon" class="far fa-file"></i>
					</a>
				</li>
			</ul>
			<a id="create-quiz-btn" class="floating-button__btn" 
				th:title="#{teacher_create_quiz_title}">
				<i id="create-quiz-btn-icon" class="fas fa-plus"></i>
			</a>
		</div>

		<script sec:authorize="hasRole('ROLE_TEACHER')"
			th:if="${#strings.equals(session.userRole, 'ROLE_TEACHER')}"
			type="text/javascript" charset="utf-8" th:src="@{/js/teacher/teacher-main.js}"></script>
		<script sec:authorize="hasRole('ROLE_STUDENT')"
			th:if="${#strings.equals(session.userRole, 'ROLE_STUDENT')}"
			type="text/javascript" charset="utf-8" th:src="@{/js/student/student-main.js}"></script>
	</th:block>
</body>
</html>