/// Colors definition

// Color palette
$black: #000000;
$gray: #ECECEC;
$white: #FFFFFF;
$brown: #444433;
$yellow: #FFCC33;
$blue: #337AB7;
$green: #00C37B;
$orange: #FF8B00;
$peach: #FF7E83;
$purple: #7E39BA;

// Alternative colors
$dark-blue: #0070AD;
$dark-blue-50: #80B8D6;
$vibrant-blue: #12B3DB;
$vibrant-blue-50: #88D5ED;
$aqua: #0F999C;
$bright-aqua: #01D1D0;

$deep-purple: #2b0a3d;
$zest-green: #95E616;
$tech-red: #FF304C;
$bright-green: #bdffbd;
$dark-green: #15596B;

$light-claret: #CB2980;
$claret: #860864;
$bright-purple: #6D64CC;
$dark-purple: #4701A7;

// Variations
$darker-white: darken($white, 7%);
$light-green: rgba(0, 255, 55, 0.451);
$red: darken($tech-red, 30%);
$light-red: rgba(225, 0, 0, 0.671);
$modal-red: rgba($tech-red, .5);
$lighter-blue: lighten($blue, 40%);
$lighter-claret: lighten($light-claret, 25%);
$lighter-bright-green: lighten($bright-green, 40%);
$light-pink: lighten($peach, 15%);

$light-gray: lighten($gray, 15%);
$gray-bg: lighten($gray, 30%);
$dark-gray: darken($gray, 30%);
$gray-disabled: lighten($dark-gray, 20%);
$darker-gray: darken($gray, 65%);

// Scrollbar colors
$scrollbar: rgba(200, 200, 200, 0.3);
$scrollbar-active: rgba(200, 200, 200, 0.7);

// Main colors
$primary: $dark-blue;
$secondary: $orange;
$success: $green;
$danger: $tech-red;