/// Resets to user-agents styles

// HTML & body
html {
	height: 100%;
    font-size: $font-size;
	line-height: $line-height;
}

body {
	position: relative;
	font-family: $font-family;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

// Images
img {
    max-width: 100%;
	height: auto;
	min-height: inherit;
}

// Links
a {
	text-decoration: none;
	color: $primary;

	&:hover:not(a img) {
		text-decoration: underscore;
	}
}

// Scrollbar style
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-button {
	width: 5px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: $dark-gray;
	border: 0px none $white;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  	background: $dark-gray;
}
::-webkit-scrollbar-thumb:active {
	background: $darker-gray;
}
::-webkit-scrollbar-track {
  	background: $scrollbar;
  	border: 0px none $white;
  	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: $scrollbar;
}
::-webkit-scrollbar-track:active {
	background: $scrollbar-active;
}
::-webkit-scrollbar-corner {
	background: transparent;
}