/// Colors definition

// Font Families
$font-family: Verdana, Geneva, sans-serif;

// Font Styles
$font-bold: bold;
$font-italic: italic;
$font-bold-italic: $font-bold, $font-italic;

// Writing
$font-size: 16px;
$line-height: 1.2;