<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{thymeleaf/layouts/layout}">
<head>
<title th:text="#{error_403}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<h1 th:text="#{error_403}"></h1>
		<h2 th:text="#{error_403_title}"></h2>
		<p th:text="${errorMessage}"></p>
		<p>
			<a th:href="@{/}" th:text=#{page_back} ></a>
		</p>
	</th:block>
</body>
</html>