<!DOCTYPE HTML>
<html>
<head>
<title th:text="#{error_404}"></title>
</head>
<body>
	<th:block>
		<h1 th:text="#{error_404}"></h1>
		<h2 th:text="#{error_404_title}"></h2>
		<p th:text="${errorMessage}"></p>
		<p>
			<a th:href="@{/}" th:text=#{page_back} ></a>
		</p>
	</th:block>
</body>
</html>